<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anasmana.ibtihalat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ibtihalat">
        <activity android:name=".OldActivity" android:label="ابتهالات قديمة"></activity>
        <activity android:name=".NakshbandiActivity" android:label="سيد النقشبندي"/>
        <activity android:name=".TokhiActivity" android:label="محمد الطوخي"/>
        <activity android:name=".ImranActivity" android:label="محمد عمران"/>
        <activity android:name=".BahtimiActivity" android:label="كامل يوسف البهتيمي"/>
        <activity android:name=".FashniActivity"
            android:label="طه الفشني"/>
        <activity
            android:name=".TobarActivity"
            android:label="نصرالدين طوبار" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>